.body{
      font-family: 'Oxygen', sans-serif;
}

.section1{
  background-image: url("backgrounds/h_img.jpg");
  background-repeat: no-repeat;
  background-size:contain;

  }


  .logo{
  	background: transparent;
  	font-weight: bold;
    text-align: center;
    color: white;


  }

  .logo h2{
    font-size:40px;
  }

  .logo p{
    font-size:12px;
  }

.section2{
  background-color: white;
  text-align: center;
  font-weight: bold;
  margin-top:inherit;
  margin-bottom: inherit;
  height: 250px;
}



.section3{
  background-image: url("backgrounds/s_image.jpg");
  background-repeat: no-repeat;
  background-size:contain;

}

.services{
  background: transparent;
  text-align: center;
  color: white;
  font-weight: bold;
}

.section4{
  text-align: center;
}

.section5{
  text-align: center;
}
